{% extends "./base.html" %}

{% block second_stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/stopwatch.css') }}">
{% endblock %}

{% block content %}
<div id="main-content">
    <span class="time-view" id="hours">00</span>
    <span class="time-view">:</span>
    <span class="time-view" id="minutes">00</span>
    <span class="time-view">:</span>
    <span class="time-view" id="seconds">00</span>
    <div class="controls">
        <button class="timer-buttons" id="start">Start</button>
        <button class="timer-buttons" id="stop" style="display: none">Stop</button>
        <form method="POST">
            <input type="submit" class="timer-buttons" id="reset" name="reset" value="Reset">
            <input type="hidden" id="timerValue" name="time">
        </form>
    </div>
</div>

<span id="last-time">Last time was: {{session['time']}}</h2>

    <script type="module" src="{{ url_for('static', filename = 'js/timer/timerHelper.js') }}"></script>
    <script type="application/javascript">
        const stopButton = document.getElementById("stop");
        const startButton = document.getElementById("start");

        startButton.addEventListener("click", () => {
            stopButton.setAttribute("style", "");
            startButton.setAttribute("style", "display: none");
        })

        stopButton.addEventListener("click", () => {
            stopButton.setAttribute("style", "display: none");
            startButton.setAttribute("style", "");
        })

    </script>
{% endblock %}