{% extends "bootstrap/base.html" %}

{% block title %}Performance App{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="Timer">
    <h1>Here's the timer</h1>
    <span id="hours" >00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
    <button type="button" class="btn btn-success" id="start">Start</button>
    <button type="button" class="btn btn-danger" id="stop">Stop</button>
    <button type="button" class="btn btn-warning" id="reset">Reset</button>
    <!-- <span> {{time}} </span> -->
</div>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/stopwatch.js') }}"></script>
{% endblock %}