*{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-weight: 500;
}


html, body{
    height: 100%;
    font-weight: 500;

}

body{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Header */

header{
    background-color: rgba(0, 0, 0, 0.25);
    height: 7vh;
}

#header-title{
    font-weight: 500;
    margin: 0.75vh 1vh 0vh;
    font-size: 3.5vh;
    float: left;
}

#navbar-night-mode-icon{
    margin: 0.75vh 1vh 0vh;
    height: 5vh;
    width: 5vh;
    float: right;
}

#navbar-night-mode-icon:hover{
    cursor: pointer;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

/* Main */

main, article{
    flex-grow: 60;
}

/* Footer */

footer{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.25);
    height: 5vh;
}

.footer-elements{
    font-weight: 100;
    font-size: 2vh;
    margin: 0.75vh 1vh 0vh;
}


